.post-wrapper {
  border: 2px solid #d2d2d2;
  border-radius: 5px;

  .post-header {
    background: #d2d2d2;
    display: flex;
    justify-content: space-around;


    .post-header__type {
      color: white;
      background: #3434e3;
      border-radius: 10px;
      //width: 35px;
    }
  }

  .post-text {
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    text-align: left;
  }

  .post-footer {
    background: #d2d2d2;
    display: flex;
    justify-content: center;

    .blue {
      background: #3434e3;
    }

    .green {
      background: #1d721d;
    }

    .red {
      background: red;
      margin: 0 15px;
    }
  }
}