.home-page__wrapper {
  //height: 100vh;
  //width: 100%;

  .home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: yellowgreen;
    height: 100vh;
    width: 100%;

    .home-title {
      text-align: center;
    }

    .home-button{
      width: 126px;
    }
  }
}